package handlers

import (
	"{{.DependencyName}}/pkgs/wrapper"
	"{{.RepoName}}/logic/msg"
	"{{.RepoName}}/logic/services"
	"{{.RepoName}}/logic/codes"
	"{{.DependencyName}}/pkgs/logs"
	comlib "{{.DependencyName}}/pkgs/common"
	{{if or .IsAddUserId .IsAddCompanyId}}"{{.RepoName}}/logic/consts"{{else}}{{end}}

	"github.com/gin-gonic/gin"
	"go.uber.org/zap"
)

type {{.ModelName}}Handler struct {
	{{.ModelName}}Service *services.{{.DModelName}}Service
}

func new{{.DModelName}}Handler({{.ModelName}}Service *services.{{.DModelName}}Service) *{{.ModelName}}Handler {
	return &{{.ModelName}}Handler{
		{{.ModelName}}Service:{{.ModelName}}Service,
	}
}
{{template "handler_func.tmpl" .}}
