{{define "handler_func.tmpl"}}
{{end}}

// @Summary      {{.DocSummary}}
// @Description  {{.DocDesc}}
// @Tags         {{.DocTag}}
// @Produce      json
// @Param        {{.ReqParamType}}  {{.ReqParamType}}    msg.{{.DModelName}}{{.MethodName}}Req  true  "{{.ReqParamType}}参数"
// @Success      200   {{.RspParamType}}  msg.{{.DModelName}}{{.MethodName}}Rsp
// @Router       {{.DocUrl}} [{{.DocUrlMethod}}]
func ({{.ModelName}}Handler *{{.ModelName}}Handler) {{.MethodName}}(ctx *gin.Context) {
	req := new(msg.{{.DModelName}}{{.MethodName}}Req)
	req.NanoId = comlib.GenNanoIdString()
	commonLog := logs.With(zap.String("ip",ctx.ClientIP()), zap.String("nano_id", req.NanoId),zap.String("url",ctx.Request.Method+":"+ctx.Request.URL.Path))
	if err := ctx.ShouldBind(req); err != nil {
		commonLog.Error("参数校验失败", zap.Error(err){{if .IsAddUserId}}, zap.Int("user_id",ctx.GetInt(consts.GinContextKeyUserId)){{else}}{{end}}{{if .IsAddCompanyId}}, zap.Int("company_id",ctx.GetInt(consts.GinContextKeyCompanyId)){{else}}{{end}})
		wrapper.Wrap(ctx).Fail(codes.CodeErrParamsInvalid)
		return
	}
	{{if .IsAddIp}}req.Ip = ctx.ClientIP() {{else}}{{end}}
	{{if .IsAddUserId}}req.UserId = ctx.GetInt(consts.GinContextKeyUserId){{else}}{{end}}
	{{if .IsAddCompanyId}}req.CompanyId = ctx.GetInt(consts.GinContextKeyCompanyId){{else}}{{end}}
	commonLog.Info("开始处理请求")
	data, codeErr := {{.ModelName}}Handler.{{.ModelName}}Service.{{.MethodName}}(req,commonLog)
	if codeErr != nil {
		commonLog.Warn("请求处理出错", zap.String("msg", codeErr.GetMsg()), zap.Uint("code", codeErr.GetCode()))
		wrapper.Wrap(ctx).Fail(codeErr)
		return
	}
	commonLog.Info("请求处理成功", zap.Any("rsp", data))
	wrapper.Wrap(ctx).Success(data)
}
