package handlers

import (
	"{{.DependencyName}}/pkgs/wrapper"
	"{{.RepoName}}/logic/msg"
	"{{.RepoName}}/logic/services"
	"{{.RepoName}}/pkgs/base"

	"github.com/gin-gonic/gin"
)

type {{.ModelName}}Handler struct {
	{{.ModelName}}Service *services.{{.DModelName}}Service
}

func new{{.DModelName}}Handler({{.ModelName}}Service *services.{{.DModelName}}Service) *{{.ModelName}}Handler {
	return &{{.ModelName}}Handler{
		{{.ModelName}}Service:{{.ModelName}}Service,
	}
}
{{template "handler_func.tmpl" .}}
