{{define "msg_func.tmpl"}}
{{end}}
// {{.DocDesc}}请求
type {{.DModelName}}{{.MethodName}}Req struct {
{{if .IsAddIp}}Ip string `json:"-"`  // 请求人的ip {{else}}{{end}}
}

// {{.DocDesc}}响应
type {{.DModelName}}{{.MethodName}}Rsp struct {

}
