{{define "service_func.tmpl"}}
{{end}}
// {{.DocDesc}} {{.DocUrlMethod}} {{.DocUrl}}
func ({{.ModelName}}Service *{{.DModelName}}Service) {{.MethodName}}(req *msg.{{.DModelName}}{{.MethodName}}Req) ({{.RspType}}*msg.{{.DModelName}}{{.MethodName}}Rsp, base.CodeErrI) {
	logs.Info("service 处理请求: {{.DocUrlMethod}} {{.DocUrl}}", zap.String("nano_id",req.NanoId){{if .IsAddIp}}, zap.String("ip",req.Ip){{else}}{{end}}{{if .IsAddUserId}}, zap.Int("user_id",req.UserId){{else}}{{end}}{{if .IsAddCompanyId}}, zap.Int("company_id",req.CompanyId){{else}}{{end}})
	// TODO 待实现
	{{if .RspType}}return {{.RspType}}*msg.{{.DModelName}}{{.MethodName}}Rsp{}, nil {{else}}return &msg.{{.DModelName}}{{.MethodName}}Rsp{}, nil {{end}}
}
