{{define "service_func.tmpl"}}
{{end}}
// {{.DocDesc}}
func ({{.ModelName}}Service *{{.DModelName}}Service) {{.MethodName}}(req *msg.{{.DModelName}}{{.MethodName}}Req)({{.RspType}}*msg.{{.DModelName}}{{.MethodName}}Rsp,base.CodeErrI) {
	// TODO 待实现
	return &msg.{{.DModelName}}{{.MethodName}}Rsp,nil
}