{{define "service_func.tmpl"}}
{{end}}

// {{.DocDesc}}
func ({{.DModelName}}Service *{{.ModelName}}Service) {{.MethodName}}(req *msg.{{.ModelName}}{{.MethodName}}Req)(*msg.{{.ModelName}}{{.MethodName}}Rsp,base.CodeErrI) {
	// TODO 待实现
	return &msg.{{.ModelName}}{{.MethodName}}Rsp,nil
}