package services

import (
	"{{.DependencyName}}/pkgs/base"
	"{{.RepoName}}/logic/msg"
	"{{.DependencyName}}/pkgs/logs"
	comlib "{{.DependencyName}}/pkgs/common"

	"go.uber.org/zap"
	"go.uber.org/zap/zapcore"
)

type {{.DModelName}}Service struct {

}

func new{{.DModelName}}Service() *{{.DModelName}}Service {
	return &{{.DModelName}}Service{}
}

{{template "service_func.tmpl" .}}
